// 项目提供的scss的全局变量

// 左侧菜单宽度
$base-menu-width: 260px;
// 左侧菜单背景颜色
$base-menu-background: #2d3a4b;

// 顶部导航高度
$base-tabbar-height: 50px;

// logo高度
$base-menu-logo-height:50px;
// 标题大小
$base-logo-title-fontSize:20px;